@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    background-color: #00bf7d;
    font-weight: 500;
    font-size: large;
}

nav {
    list-style: none;
    justify-content: center;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid;
    height: 2rem;
    margin-top: 30px;
    border-radius: 5px;
    background-color: aliceblue;
    color: black;
}
nav a{
    text-decoration: none;
    color: black;
}
nav li {
    margin: 8px;
    color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.container {
    border: 2px solid skyblue;
    border-radius: 5px;
}

.information {
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    justify-content: center;
    align-items: center;
    color: revert-layer;
}

.images img {
    display: flex;
    justify-content: space-between;
    height: 127px;
    width: 259px;
    margin: 15px;
    text-align: right;
}

.images p {
    padding: 10px;
    text-align: justify;
}

.images {
    display: flex;
}
@media only screen and (max-width: 768px) {
    .images{
        display: flex;
        flex-direction: column;
    }
    .images p {
        padding: 10px;
        text-align: justify;
    }
    nav {
        display: flex;
        flex-direction: column;
        height: 9rem;
        width: 7rem;
        margin-left: 7rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/* Target devices with a maximum width of 576px (common for smaller phones) */

@media only screen and (min-width: 576px) {
    /* Add your styles for smaller phones here */
}